{% extends "base/base.html" %}
{% block body %}
{% load static %}

<h2></h2><a href="https://github.com/miya8872/django_convert_mp4-png/tree/master">django_convert_mp4-png</a><h2></h2>
<p>
動画をWebサイトから受け取り、フレーム差違を抽出した上で、それら差異を順に重ねた画像を出力します。<br>
＜機能＞<br>
・フレーム間の差異の抽出と合成<br>
・4桁のPINコードでの保護<br>
・プログレスの表示 ・画像のバイナリ化と送受信<br>
・古いファイルの定期的な削除機能<br>
・同時に処理するファイル数の制限
</p>

<h2></h2><a href="https://github.com/miya8872/pitch_compare_cui/tree/master">pitch_compare_cui</a><h2></h2>
<p>
  短い音声データを保存してそれらのピッチ構造(イントネーション)の類似度をDTW比較にて算出するプログラムです。 提出したポートフォリオ detect_voice_live 作成に向けた下調べのため、作成しました。<br>
  具体的には人体の聴覚特性を再現するために、人が音の物理的な高低より相対的な高低に有意に反応することに着目して、 単語の一次又は二次的な絞り込みに使用可能か否か、目測をつけることが目的です。<br>
＜機能＞<br>
・srcフォルダのロード、及び音声データと正規化したピッチデータの保存<br>
・イントネーションが最も近しいファイルの検索<br>
・諸データのDBへの保存及び削除<br>
・イントネーションデータのCUI上での可視化<br>
・上記機能のCUI上での操作、実行
</p>

<h2></h2><a href="https://github.com/miya8872/detect_voice_live/tree/master">detect_voice_live</a><h2></h2>
<p>
  人体の聴覚特性を再現した、機械学習による統計情報に頼らない音声認識を目標として作成しました。<br>
  具体的には音源情報を周波数帯で64種に分類した上で、それらの倍音構造が肉声の倍音構造と類似しているかを判定いたします。※本コードは試作段階です<br>
＜機能＞<br>
・バッファを使用したリアルタイムでの音声情報の保存と解析<br>
・音声情報の周波数帯域別の分類機能<br>
・分類した音声データの強度による取得情報の分別<br>
・継続して一定値を保つノイズの除去(未使用、定義済み)<br>
・抽出したデータからの倍音構造の推定
</p>

{% endblock %}
